<div id="page03">
  <div id="cont">
    <div class="ttl">There’s a brief of the users we make products for. Use their names in order to remember who will
      use the final result of our work.
    </div>
    <div id="groupBigBlocks">
      <div class="blockLeft">
        <div class="picL"></div>
        <div class="topicL">Power user</div>
        <div class="textL">El usuario que no necesita medicina habitualmente (sólo para pequeñas enfermedades) pero
          conoce gente que sí, aunque principalmente soporta el proyecto por la idea y la misión. Tiene un estilo de
          vida saludable, alimentación vegana/vegetariana/bio/organica. Moralmente coherentes y cuestionadores del
          status-quo. Salud a largo plazo.
          Su visión de es de ayuda, conocimiento y reafirmación de su filosofia de vida y pensamiento en torno a las
          plantas.
        </div>
      </div>
      <div class="blockRight">
        <div class="picR"></div>
        <div class="topicR">Intentional user</div>
        <div class="textR">Un usuario que padece una enfermedad y que conoce las curas medicinales por recomendación de
          amigos o de internet. Requieren cura natural, porque no les funciona el tratamiento químico, porque no tienen
          dinero para costearselo, o porque no quieren medicarse en la farmacia. Estilo de vida sedentario, alimentación
          omnivora sin un alto porcentaje alimentos vegetales. Salud a corto plazo.
          Su visión es de liberación, descubrimiento y si les funciona el remedio se convertirán en defensores de la
          medicina natural.
        </div>
      </div>
    </div>
  </div>
</div>
