<div id="page02">
<div id="container">
  <div class="title">¿Why define User Personas?</div>
  <div class="headline">It’s about the definition of a user
    representing a group of
    individuals of the target of a product.
  </div>
  <div id="groupBlocks">
    <div class="block1">This technique, applied in processes focused on users, converts the data collected in the
      target's research
      representative archetypes that will help us create the right paths for your experience to be optimal.

      The design of people is based on the objectives, behavior, and concerns of users that concern our product or
      service.
      It is a perfect methodology to face users and be able to understand them, thus focusing the project on the
      satisfaction of their
      concrete needs.
    </div>
    <div class="block2">“The user persona represent
      a significant portion of
      people that allow us
      focus our solutions
      in real individuals instead
      of trying to cover a target
      too generic”.
    </div>
  </div>
</div>
</div>
