<div id="page05">
  <div id="place">
    <div class="leftPlace">
      <div class="title1">Background</div>
      <div class="text1">
        <p>· She became vegetarian for a moral reason (animals suffer) after 2 friends convinced her to watch some
          documentaries.
        <p>· She have researched nutrition facts about eating meat and the chemicals in the supermarket food and now she
          knows the truth.
        <p>· She thinks the people are manipulated in differents ways by the companies and governments and there are
          alternatives.
      </div>
      <div class="title1">Needs</div>
      <div class="text1">
        <p>· Wants to know more about plants and its beneficial effects.
        <p>· Wants to share the knowledge with others to make a better world.
        <p>· Wants to help to a friend who’s suffering cancer throughout plants to increase the probabilities of
          success.
        <p>· Wants to cure herself with plants instead of pharmacy products because the side effects are annoying her.
      </div>
      <div class="title1">Frustrations</div>
      <div class="text1">
        <p>· She feel like other people don’t take it seriously about her beliefs and information.
        <p>· She can’t find good information about medicinal plants on the internet because there are lots of text to
          read
          and analyse and doesen’t know which are true or not.
        <p>· She doesen’t know where can she buy medicinal plants arround her.
      </div>

    </div>
    <div class="rightPlace">
      <div class="textClider1">Health value
        <div class="slider1"></div>
      </div>
      <div class="textCliderAll">Natural knowledge
        <div class="slider2"></div>
      </div>
      <div class="textCliderAll">Money Spending
        <div class="slider3"></div>
      </div>
      <div class="textCliderAll">Technology using
        <div class="slider4"></div>
      </div>
      <div class="textCliderAll">Thinking behaviour
        <div class="slider5"></div>
      </div>

    </div>
  </div>
</div>
