<div id="page04">
  <div id="place">
    <div class="leftPlace">
      <div class="picLSmall"></div>
      <div class="textName">Amalia Álvarez</div>
      <div class="placesSmall">
        <div class="leftPlaceSmall">
          <p>Age
          <p>Occupation
          <p>Work schedule
          <p>Socioeconomic level
          <p>Type of car
          <p>Family
          <p>Location
          <p>Diet
          <p>Condition
        </div>
        <div class="rightPlaceSmall">
          <p>36 years
          <p>Comunication
          <p>8:00AM to 16:00PM
          <p>Medium-High
          <p>No car
          <p>Engaged, no kids
          <p>Barcelona, Spain
          <p>Vegetarian
          <p>Flu (twice a year)
        </div>
      </div>

      </div>
    <div class="rightPlace">
      <div class="title1">Bio</div>
      <div class="text1">
        <p>Amaia is a smart girl who are connected 24/7 on their phone and computer (she uses Macbook and iPhone). She have a healthy lifestyle with a vegetarian diet and eating BIO/Organic products everytime she can. Is concerned about enviorment and take part to make the world a better place.
        <p>She likes nature and love to do hiking, cycling and yoga. Amaia loves to travel and wants to make a huge trip arround SouthWest Asia or South America.
        <p>She has an easy-going behaiviour, usually ask for feedback and accept other’s ideas and thoughts because she cares about what other people thinks about her. Also, is a persuasive person who is good turning people into her ideas, using information she found in youtube videos, researching on the internet.
        <p>She follow brands such as Apple, Nutrition Facts, Tesla, Veritas, </div>
      <div class="title2">One day in Amalia’s life</div>
      <div class="text2"></div>
    </div>
  </div>
</div>
